<div *ngFor="let notification of notifications; index as i">
  <ng-template [ngIf]="notification.type == 'SUBMITTED_FINAL_RATING'" [ngIfElse]="Others">
    <ng-template [ngIf]="notification.status == 'UN_NOTICED'">
      <ng-template ngFor let-item [ngForOf]="notification.data.paper_titles" let-i="index">
        <li>
          Final Rating Updated for <b>{{item}}</b>
        </li>
      </ng-template>
    </ng-template>
   </ng-template>
   
   <ng-template #Others>
    <div>Loading...</div>
   </ng-template>
</div>
