<div *ngFor="let notification of notifications; index as i">
  <ng-template [ngIf]="notification.type == 'SUBMITTED_FINAL_RATING'">
      <ng-template ngFor let-item [ngForOf]="notification.data.paper_titles" let-i="index">
        <h3>
          Final Rating Updated for <b>{{item}}</b> on <b>{{notification.timeStamp |  date: "EEEE, MMM dd, yyyy h:mm:ss a"}}</b>
          <ng-template [ngIf]="notification.status == 'UN_NOTICED'">
            <span class="newTag">New</span>
          </ng-template>
        </h3>
      </ng-template>
   </ng-template>

   <ng-template [ngIf]="notification.type == 'PAPER_SUBMISSION'">
    
      <h3>
        Paper Titled <b>{{notification.data.title}}</b> of revision <b>{{notification.data.revisionNo}}</b> has been submitted on <b>{{notification.timeStamp |  date: "EEEE, MMM dd, yyyy h:mm:ss a"}}</b>
        <ng-template [ngIf]="notification.status == 'UN_NOTICED'">
        <span class="newTag">New</span>
      </ng-template>
      </h3>
   </ng-template>
   <ng-template [ngIf]="notification.type == 'PCC_UNASSIGNED_PAPERS'">
      <h3>
        Paper Titled <b>{{notification.data.title}}</b> has been unassigned to PCM's
        <ng-template [ngIf]="notification.status == 'UN_NOTICED'">
          <span class="newTag">New</span>
        </ng-template>
      </h3>
   </ng-template>

   <ng-template [ngIf]="notification.type == 'PCC_REVIEW_DEADLINE_EXPIRED'">
      <h3>
        Review Deadline was on <b>{{notification.data.REVIEW_SUBMISSION_DEADLINE |  date: "EEEE, MMM dd, yyyy h:mm:ss a"}}</b> has been expired
        <ng-template [ngIf]="notification.status == 'UN_NOTICED'">
          <span class="newTag">New</span>
        </ng-template>
      </h3>
   </ng-template>
  
   <ng-template [ngIf]="notification.type == 'PCC_REVIEWS_PCM_COMPLETED_RATING_PENDING'">
      <h3>
        Final Rating is Pending for Paper of Ids [<b>{{notification.data.paperIds}}</b>]
        <ng-template [ngIf]="notification.status == 'UN_NOTICED'">
          <span class="newTag">New</span>
        </ng-template>
      </h3>
   </ng-template>

   <ng-template [ngIf]="notification.type == 'PCM_ASSIGNMENT'">
    <h3>
      Paper of Id <b>{{notification.data.paperId}}</b> has been assigned to you at <b>{{notification.timeStamp |  date: "EEEE, MMM dd, yyyy h:mm:ss a"}}</b>
      <ng-template [ngIf]="notification.status == 'UN_NOTICED'">
        <span class="newTag">New</span>
      </ng-template>
    </h3>
 </ng-template>

 <ng-template [ngIf]="notification.type == 'PCM_PAPER_SUBMISSION_DEADLINE_EXPIRED'">
  <h3>
    Paper Submission Deadline was on <b>{{notification.data.PAPER_SUBMISSION_DEADLINE |  date: "EEEE, MMM dd, yyyy h:mm:ss a"}}</b> has been expired
    <ng-template [ngIf]="notification.status == 'UN_NOTICED'">
      <span class="newTag">New</span>
    </ng-template>
  </h3>
</ng-template>
</div>
