<div class="login-div">
    <h1>SAMS 2023 Login page</h1>
    <p class="to" >
        <mat-form-field appearance="fill">
        <mat-label>enter user id</mat-label>
        <input matInput placeholder="user ID">
        <mat-icon matSuffix></mat-icon>
        <mat-hint>user id</mat-hint>
        </mat-form-field>
    </p>
    <p class="password">
        <mat-form-field appearance="fill">
        <mat-label>enter password</mat-label>
        <input matInput placeholder="Password">
        <mat-icon matSuffix></mat-icon>
        <mat-hint>password</mat-hint>
        </mat-form-field>
    </p>
    <section>
        <div class="example-button-row">
          <button mat-raised-button>Login</button>
          <a mat-button href="https://www.google.com/" target="_blank">register</a>
        </div>
    </section>
    <section>
    <div class="example-button-row">
    
    </div>
    </section>
</div>
  