<div>
    <table mat-table [dataSource]="paperDetails" class="mat-elevation-z8 tabby">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
  
      <ng-container matColumnDef="paperId">
        <th mat-header-cell *matHeaderCellDef> PaperID </th>
        <td mat-cell *matCellDef="let element"> {{element.paperId}} </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Rate </th>
        <td mat-cell *matCellDef="let element">
        <ng-template [ngIf]="!element.rating_done">
          <button mat-raised-button routerLink="../rate/pcm/{{element.paperId}}" color="accent" >Rate</button>
        </ng-template>
        <ng-template [ngIf]="element.rating_done">
          <button mat-raised-button color="accent" disabled><span matTooltip="Paper already Rated" matTooltipPosition="right">Rate</span></button>
        </ng-template>
      </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
