<div class = "div-deadline">
<h1>Set Paper Submission Deadline</h1>
<mat-form-field  class = "date-card" appearance="fill">
    <mat-label>Choose Paper Submission Deadline</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Choose Paper Submission Deadline"  (dateChange)="getPaperSubmissionDeadline('change', $event)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
</mat-form-field>
<br/>
<h1>Set Review Submission Deadline</h1>
<mat-form-field class = "date-card" appearance="fill">
    <mat-label>Choose Review Submission Deadline</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Choose Review Submission Deadline"  (dateChange)="getReviewSubmissionDeadline('change', $event)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
</mat-form-field>
<br/>
<br/>
<button mat-raised-button (click)="back()" color="accent">Back</button>
</div>


