
<div class="rating-div">
    <h1>Title :  {{paper_name}}</h1>
    <h1>Paper Id :  {{paper_id}}</h1>
    <p class="to" >
        <mat-form-field appearance="fill">
        <mat-label>Enter Rating</mat-label>
        <input type="number" matInput placeholder="Rating 0-10" min="0" max="10" [(ngModel)]="rating" (keyup)="sendit($event)">
        <mat-icon matSuffix></mat-icon>
        <mat-hint>Rating 0-10</mat-hint>
        </mat-form-field>
        <span *ngIf="from == 'PCM'">
            <div *ngFor="let question of questionnaire; let i=index">
                  <div>
                    <h1>{{question.field}}</h1>
                  <input type="text" [(ngModel)]="question.answer">
                    </div>
            </div>
        </span>
    </p>
    <section>
            <button mat-raised-button (click)="rate()" [disabled]="!validate()">Rate</button>
            <button mat-button target="_blank" (click)="cancel()">Cancel</button>
    </section>
</div>
