<section>
  <h2 class="invhead">Submitter Page</h2>
    <div align="center" >
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" color="primary" backgroundColor="accent">
            <mat-tab class="apButts" label="Submit Paper"> <app-submitter-form class="submit-form"></app-submitter-form> </mat-tab>
            <mat-tab class="apButts"  label="Revise Paper"> <app-submitter-revision class="submit-form"> </app-submitter-revision> </mat-tab>
            <mat-tab class="apButts"  label="View Papers"> Content 3 </mat-tab>
        </mat-tab-group>
    </div>
</section>